<!-- templates/registration/password_reset_email -->

<p>Здравствуйте!</p>
<p>Вы (или кто-то другой) запросили сброс пароля для вашего аккаунта на сайте {{ site_settings.shop_name }}.</p>
<p>Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:</p>
<p style="margin: 20px 0;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background-color: #007bff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
        Установить новый пароль
    </a>
</p>
<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>