<!-- orders/templates/orders/email/status_update.html -->

<h1>Статус вашего заказа #{{ order.id }} изменен</h1>
        <p>Здравствуйте, {{ order.first_name }}!</p>
        <p>
            Статус вашего заказа в магазине {{ site_settings.shop_name }} был изменен на:
            <strong style="font-size: 1.2em;">{{ order.get_status_display }}</strong>.
        </p>
        <p>Вы можете просмотреть детали заказа в вашем <a href="{% url 'shop:cabinet' %}">личном кабинете</a>.</p>
        <p>Спасибо, что выбрали нас!</p>