<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!-- Включаем мобильную адаптацию для админки -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        /* Исправления для мобильной версии админки */
        @media (max-width: 767px) {
            /* Шапка */
            #header {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 10px;
            }
            #branding { margin-right: auto; }
            #user-tools {
                margin-top: 10px;
                text-align: right;
                width: 100%;
            }

            /* Таблицы */
            .change-list .results { overflow-x: auto; }

            /* Названия моделей */
            .model-group th { white-space: normal !important; }

            /* Кнопки */
            .submit-row input {
                width: 100%;
                margin-bottom: 10px !important;
            }
            .object-tools li {
                float: none;
                display: block;
                margin-bottom: 5px;
            }
            .object-tools a {
                display: block;
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}