<!-- /shop/templates/shop/contacts.html -->

{% extends "base.html" %}

{% block title %}Контакты - MegaCvet{% endblock %}

{% block content %}
<div class="container" style="padding-top: 2rem;">
    <h1>Контактная информация</h1>
    <hr>

    <h3>Адрес для самовывоза:</h3>
    <!-- linebreaksbr нужен, если вы в админке введете адрес в несколько строк -->
    <p>{{ settings.pickup_address|linebreaksbr }}</p>

    <h3>График работы:</h3>
    <p>{{ settings.working_hours }}</p>

    <h3>Телефон для связи:</h3>
    <p>{{ settings.contact_phone }}</p>

    <!-- Сюда можно добавить карту, если захотите -->
</div>
{% endblock %}