<!-- shop/templates/shop/product_list.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if current_category %}
        {{ current_category.name }}
    {% else %}
        Каталог товаров
    {% endif %} - {{ site_settings.shop_name }}
{% endblock %}

{% block content %}
    <h1>
        {% if current_category %}
            {{ current_category.name }}
        {% else %}
            Наш каталог цветов
        {% endif %}
    </h1>

    <div class="product-grid">
        {% for product in products %}
            {% include "shop/includes/product_card.html" with product=product %}
        {% empty %}
            <p style="grid-column: 1 / -1;">В данный момент в этой категории нет товаров.</p>
        {% endfor %}
    </div>
{% endblock %}